[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
requests = "*"

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
python-decouple = "*"
pytest = "*"
install = "*"
requests-mock = "*"
